.el-menu-item [class^=fa-] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

[class*=" el-icon-lx"],
[class^=el-icon-lx] {
  font-family: lx-iconfont !important;
}
